name: build test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'true'
        token: ${{secrets.GTK}}
        
    - uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'

    - name: Build
      shell: cmd
      run: |
         call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
         cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release -G Ninja
         ninja -C ${{github.workspace}}/build
